{{> navigation_logged}}
<div style="
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
"​>
<h1 style="text-align: center;">Ambra Dashboard</h1>

</div>