
  <div class="wrapper">
    <div class="row">
      <div class="col col-10">
        <div id="calendar"></div>
      </div>
      <div class="col">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            first button
          </button>
          <button type="button" class="list-group-item list-group-item-action">A second button item</button>
          <button type="button" class="list-group-item list-group-item-action">A third button item</button>
          <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
        </div>
        <button type="button" class="btn btn-primary">Add event</button>
      </div>
    </div>
  </div>
