<form action="/api/users/register" method="POST">
    <div class="form-group">
        <input class="form-control form-control-user" name="name" aria-describedby="nameHelp"
            placeholder="Enter your name..." autofocus>
    </div>
    <div class="form-group">
        <input type="email" class="form-control form-control-user" name="email" aria-describedby="emailHelp"
            placeholder="Enter email address..." autofocus>
    </div>
    <div class="form-group">
        <input class="form-control form-control-user" name="username" aria-describedby="usernameHelp"
            placeholder="Enter username" autofocus>
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Continue
    </button>
    <hr>
    <br>
    <div class="text-center">
        <a class="small" href="/api/users/login">Already have an account? Log in</a>
    </div>
    <br>
</form>