{{> navigation_notlogged}}
<div style="padding: 10%; justify-content: center;">
    <form action="/api/users/register" method="POST">
        <div class="form-group">
            <input class="form-control form-control-user" name="name" aria-describedby="nameHelp"
                placeholder="Enter your name..." autofocus required>
        </div>
        <br>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" name="email" aria-describedby="emailHelp"
                placeholder="Enter email address..." autofocus required>
        </div>
        <br>
        <div class="form-group">
            <input class="form-control form-control-user" name="username" aria-describedby="usernameHelp"
                placeholder="Enter username" autofocus required>
        </div>
        <br>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" name="password" placeholder="Password"
                required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Continue
        </button>
        <br>
        <div class="text-center">
            <a class="small" href="/api/users/login">Already have an account? Log in</a>
        </div>
        <br>
    </form>
</div>